body
{
    margin: 0px;
}

.navBar
{
    text-align: right;
    background-color: lightgrey;
    padding: 10px;
}

.navLink
{
    text-decoration: none;
    font-size: 25px;
    color: black;
    margin: 10px;
    padding: 10px;
}

h1
{
    text-align: center;
    font-size: 50px;
}

p
{
    text-align: center;
    font-size: 25px;
}

.projects
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project
{
    background-color: grey;
    margin: 10px;
    padding: 10px;
}

.links
{
    background-color: darkgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links > p
{
    background-color: grey;
    margin: 10px;
    padding: 10px;
}

.line
{
    width: 50%;
}